### INITIAL IMPORTS

In [76]:
import pandas as pd 
import matplotlib as plt
import seaborn as sns
import pyodbc
import os

### DATABASE CONNECTION

In [77]:
server = '.'
database = 'CovidProject'
username = os.environ['DB_USER']
password = os.environ['DB_PASS']

In [89]:
def extractData (): 
    try: 
        connection = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
        cursor = connection.cursor()
        query = "SELECT * FROM InfectionRateByCountry"
        sqlData = pd.read_sql(query, connection)
        connection.close()
        return pd.DataFrame(sqlData)

    except Exception as error:
        print(error)

In [93]:
infectionRateDf = extractData()
infectionRateDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   continent               243 non-null    object
 1   location                243 non-null    object
 2   population              243 non-null    float64
 3   max_cases               232 non-null    float64
 4   percent_infection_rate  232 non-null    float64
 5   risk_classification     243 non-null    object
dtypes: float64(3), object(3)
memory usage: 11.5+ KB

C:\Users\rodriguez.ja.15\AppData\Local\Temp\ipykernel_34568\594171747.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sqlData = pd.read_sql(query, connection)

In [80]:
infectionRateDf.columns

lowRisk = infectionRateDf[infectionRateDf['risk_classification'] == 'LOW RISK']

In [81]:
lowRisk.info()

<class 'pandas.core.frame.DataFrame'>
Index: 172 entries, 0 to 241
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   continent               172 non-null    object
 1   location                172 non-null    object
 2   population              172 non-null    float64
 3   max_cases               161 non-null    float64
 4   percent_infection_rate  161 non-null    float64
 5   risk_classification     172 non-null    object
dtypes: float64(3), object(3)
memory usage: 9.4+ KB

In [82]:
lowRisk.describe()

         population     max_cases  percent_infection_rate
count  1.720000e+02  1.610000e+02              161.000000
mean   4.155485e+07  2.528361e+06                8.790807
std    1.566398e+08  9.695393e+06                8.659729
min    4.700000e+01  4.000000e+00                0.040000
25%    1.330843e+06  2.654700e+04                0.640000
50%    8.727212e+06  1.719660e+05                6.660000
75%    2.984568e+07  1.067030e+06               15.480000
max    1.425887e+09  9.935176e+07               27.740000

#### Handling Null Values (percent_infection_rate)

In [83]:
lowRisk.isnull()[lowRisk.isnull()['percent_infection_rate'] == True]

,continent,location,population,max_cases,percent_infection_rate,risk_classification
32,False,False,False,True,True,False
61,False,False,False,True,True,False
64,False,False,False,True,True,False
98,False,False,False,True,True,False
113,False,False,False,True,True,False
121,False,False,False,True,True,False
164,False,False,False,True,True,False
169,False,False,False,True,True,False
181,False,False,False,True,True,False
197,False,False,False,True,True,False
198,False,False,False,True,True,False

In [84]:
lowRisk.reset_index(inplace=True)

In [85]:
nullIndex = lowRisk.isnull()[lowRisk.isnull()['percent_infection_rate'] == True].index.to_list()
nullIndex

[20, 41, 43, 66, 77, 82, 117, 121, 128, 139, 140]

In [86]:
lowRisk.drop(columns='index', inplace=True)

C:\Users\rodriguez.ja.15\AppData\Local\Temp\ipykernel_34568\2890784943.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lowRisk.drop(columns='index', inplace=True)

In [87]:
for index in nullIndex:

SyntaxError: incomplete input (2956945069.py, line 2)